.notFound-container {
  background-color: #f5f7fa;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notFoundImage {
  width: 50%;
}
.notFoundHeading {
  font-size: 32px;
  font-family: 'Inter';
  font-weight: 500;
  color: #334155;
}
@media (max-width: 768px) {
  .notFoundHeading {
    font-size: 18px;
  }
}
.notFound-description {
  color: #475569;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Inter';
}
@media (max-width: 768px) {
  .notFound-description {
    font-size: 14px;
  }
}

.goBackBtn {
  background-color: #0284c7;
  color: #ffffff;
  padding: 12px 24px 12px 24px;
  width: 164px;
  height: 48px;
  border: 0;
  border-radius: 10px;
  font-size: 14px;
}
